.bg-login {
  background-image: url(".././images/products-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-cart {
  background-image: url(".././images/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container {
  height: 100vh;
  background-color: #f8f9fa;
}

/* .login-form-col {
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
} */

.login-form-wrapper {
  max-width: 400px;
  width: 100%;
  padding: 40px;
}

/* .login-image-col {
  background-color: #343a40;
} */

.login-image-col img {
  max-width: 300px;
  max-height: 300px;
  border: 5px solid #ffffff;
}

@media (max-width: 767px) {
  .login-image-col {
    display: none;
  }
}
