.registration-container {
  height: 100vh;
  background-color: #f8f9fa;
}

.registration-form-wrapper {
  max-width: 500px;
  width: 100%;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.bg-register {
  background-image: url(".././images/products-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}